<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumt.forschool.mapper.PermissionInfoMapper">


    <select id="listAllPermissionInfo" resultType="com.cumt.forschool.bo.PermissionBo">
        SELECT a.permission_id, a.permission_uri, a.permission_method, c.role_name
        from permission_info a
        inner join role_permission_link b on a.permission_id=b.permission_id
        inner join role_info c on c.role_id=b.role_id
        where a.deleted=0;
    </select>

</mapper>
